/*------------------------ PAGE ACCUEIL -----------------------*/

body{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vw;
    background-color: #122031;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 5%;
    background-color: #122031;
}


ul{
    padding-left: 15%;
    list-style-type:none;
}

.text{
    text-decoration: none;
    color: white;
    writing-mode: vertical-lr;
    padding-top: 20px;
    font-family:BMWHelvetica-Light, 
    "BMW Helvetica 85 Light";
}

.icone{
    text-decoration: none;
    color: white;
    writing-mode: vertical-lr;
    padding-top: 20px;
}

.text:hover{
    box-shadow: inset 0 0 0 1px white;
}

.icone:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}



.titre{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 110vh;
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


svg:hover g#Bleu{
    opacity: 1;
}

svg g#Orange{
    opacity: 1;
}

svg g#Bleu{
    opacity: 1;
}

svg g#Red{
    opacity: 1;
}

svg{
    position: absolute;
    left: 20vw;
    top: -10vh;
    height: 57%;
    width: 65%;    
}

.cls-1{
    fill:#ee8008;
}

.cls-1-1{
    fill: #ee8008;
    opacity: 0.3;
}


.cls-2,.cls-5,.cls-8{
    fill:none;
    stroke-miterlimit:10;
    stroke-width:2px;
}



.cls-2{
    stroke: white;
}

.cls-3,.cls-1{
    fill: white;
}


.cls-3,.cls-6,.cls-9{
    font-size:60px;
    font-family:BMWHelvetica-Light, 
    "BMW Helvetica 45 Light";
    font-weight:300;
}

.cls-4,.cls-6{
    fill:#cd1152;
}

.cls-5{
    stroke:#cd1152;
}

.cls-7,.cls-9{
    fill:#0695b7;
}

.cls-8{
    stroke:#0695b7;
}
    
#Orange:hover .cls-1, #Orange:hover .cls-2, #Orange:hover .cls-1-1{
    fill: #ee8008;
    opacity: 1;
    transition: 1s;
}



.cls-4, .cls-6{
    fill: white;
}

.cls-5{
    stroke: white;
}

.cls-4-1{
    fill: #cd1152;
    opacity: 0.3;
}

#Red:hover .cls-4, #Red:hover .cls-5, #Red:hover .cls-4-1{
    fill : #cd1152;
    opacity: 1;
    transition: 1s;
}


.cls-7, .cls-9{
    fill: white;
}

.cls-8{
    stroke: white;
}

.cls-7-1{
    fill: #0695b7;
    opacity: 0.3;
}

#Bleu:hover .cls-7, #Bleu:hover .cls-8, #Bleu:hover .cls-7-1{
    fill : #0695b7;
    opacity: 1;
    transition: 1s;
}

.href{
    position: absolute;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family:BMWHelvetica-Light, 
    "BMW Helvetica 45 Light";
    text-decoration: none;
    font-weight:300;
    top: 38vh;
    left: 75vw;
}

.transition-fade {
    transition: 1s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }