body{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vw;
    background-color: #122031;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 5%;
    background-color: #122031;
}


ul{
    padding-left: 15%;
    list-style-type:none;
}

.text{
    text-decoration: none;
    color: white;
    writing-mode: vertical-lr;
    padding-top: 20px;
}

.icone{
    text-decoration: none;
    color: white;
    writing-mode: vertical-lr;
    padding-top: 20px;
}

.text:hover{
    box-shadow: inset 0 0 0 1px white;
}

.rs{
    padding-top: 50px;
}

.titre{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    font-size: 50px;
    color: white;
}
